DEBUG=True

SECRET_KEY=django-insecure-change-this-secret-key

ALLOWED_HOSTS=127.0.0.1,localhost

# Redis
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1

# Optional future production settings
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost

# ======================
# POSTGRES
# ======================

POSTGRES_DB=gold
POSTGRES_USER=golduser
POSTGRES_PASSWORD=strongpassword
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DATABASE_URL=postgres://golduser:strongpassword@postgres:5432/gold
