{% extends "base.html" %}
{% block metadata %}
    
    <style>
    
        /* Alerts */
        .custom-alert { padding: 15px; border-radius: 12px; margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center; }
        .alert-success { background: rgba(76, 175, 80, 0.1); color: #4caf50; border: 1px solid #4caf50; }
        .alert-error { background: rgba(229, 57, 53, 0.1); color: #e53935; border: 1px solid #e53935; }
        .alert-close { background: none; border: none; color: inherit; font-size: 20px; cursor: pointer; }

    </style>
    
{% endblock %}

{% block title %}دسته‌بندی محصولات{% endblock %}

{% block content %}
<h2>دسته‌بندی محصولات</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="custom-alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-error{% else %}alert-info{% endif %}">
                <span>{{ message }}</span>
                <button class="alert-close" onclick="this.parentElement.style.display='none'">×</button>
            </div>
        {% endfor %}
    {% endif %}

<div class="top-actions">
    <a href="{% url 'create_product_category' %}" class="add-btn">
        + افزودن دسته‌بندی جدید
    </a>
</div>

{% if categories %}
   <table>
    <thead>
        <tr>
            <th>نام دسته‌بندی</th>
            <th>عملیات</th>
        </tr>
    </thead>

    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.title }}</td>
            <td>
                <a href="{% url 'edit_product_category' category.id %}">ویرایش</a>
                <a href="{% url 'delete_product_category' category.id %}">حذف</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
    <p>هیچ دسته‌بندی‌ای ثبت نشده است.</p>
{% endif %}

{% endblock %}
